# Sets

* Sets are an unordered collection of unique elements.
* Sets cannot have duplicates.
* Sets are mutable.
* Eg., empty_set = () , non_empty_set = {1,6,4,'abc'}

#### add()
* This method adds an element to a set.

In [6]:
set_1 = set()
set_1.add('a')
set_1.add(2)

In [7]:
set_1

{2, 'a'}

#### update()
* This method helps to add multiple elements to a set.

In [10]:
set_2 = {5,6,7,3}
set_2.update([2, 3, 4])
print(set_2)

{2, 3, 4, 5, 6, 7}

#### remove()
* Remove() use to remove an element from the set.

In [15]:
set_3 = {1,5,6,7,22}
set_3.remove(5)

In [16]:
set_3

{1, 6, 7, 22}

#### union()
*  This method returns the union of two sets.
* denoted by the operator |

In [17]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

In [18]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [19]:
A | B

{1, 2, 3, 4, 5, 6, 7, 8}

#### intersection()
* This method returns the intersection of two sets.
* denoted by the operator &

In [21]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

In [22]:
A.intersection(B)

{4, 5}

In [23]:
A & B

{4, 5}

#### difference()
* This method returns the difference of two sets.
* denoted by the operator -

In [24]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

In [25]:
A.difference(B)

{1, 2, 3}

In [26]:
A - B

{1, 2, 3}

In [27]:
B.difference(A)

{6, 7, 8}

In [28]:
B - A

{6, 7, 8}

#### symmetric_difference()
* This method returns the set of elements in A and B but not in both (excluding the intersection).
* denoted by the operator ^

In [30]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

In [31]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [32]:
A^B

{1, 2, 3, 6, 7, 8}

#### discard()
* It Removes an element elem from the set.

In [36]:
set_4 = {21, 23, 44, 56, 86, 27}
set_4.discard(44)
set_4

{21, 23, 27, 56, 86}